.auth-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  z-index: 1040;
}

.auth-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #fff; */
  width: 75%;
  max-width: 100%;
  padding: 0px;
  border-radius: 12px;
  z-index: 1050;
}

.auth-close {
  position: absolute;
  top: 50px;
  left:360px;
  right: 0px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  z-index: inherit;
}

.link-btn {
  background: none;
  border: none;
  color: #0d6efd;
  cursor: pointer;
}
