/* Hero Button */
.hero-btn {
    background-color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #ffe3e3;
}

/* Add to Cart Button */
.add-btn {
    background-color: #ffbebe;
    border: none;
    padding: 6px 12px;
    margin-top: 8px;
    border-radius: 6px;
    font-size: 14px;
}

.add-btn:hover {
    background-color: #ff9f9f;
}

/* Wishlist Button */
.wish-btn {
    background-color: #ffbebe;
    border: none;
    padding: 6px 12px;
    margin-top: 8px;
    border-radius: 6px;
    font-size: 14px;
    color: red;
}

.wish-btn:hover {
    background-color: #ff9f9f;
}

.btn-dark-mode {
    color: white !important;
}

.btn-light-mode {
    color: black !important;
}