/* PAGE BACKGROUND */
body {
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-content {
  margin-top: 80px;
}

.dark-mode {
  background-color: #121212 !important;
  color: white !important;
}

.dark-mode .hero-section {
  background-color: #2a2a2a !important;
  color: white !important;
}

/* Light Mode Header */
.header-light {
  background-color: #ffbebe !important;
  color: black !important;
}

/* Dark Mode Header */
.header-dark {
  background-color: #121212 !important;
  color: white !important;
}

.navbar-brand {
  font-size: 25px;
}

/* Text Colors */
.header-light .nav-link,
.header-light .navbar-brand,
.header-light .form-check-label,
.btn-light-mode {
  color: black !important;
}

.header-dark .nav-link,
.header-dark .navbar-brand,
.header-dark .form-check-label,
.btn-dark-mode {
  color: white !important;
}

.bg-pink {
  background-color: #ffbebe !important;
}

/* Page Background */
.bg-pink-soft {
  background-color: #ffe4e4;
}

.hero-text h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 15px;
  margin-bottom: 20px;
}

/* Dark Mode support */
.header-dark .sidebar-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* CATEGORY SECTION */
.category-card {
  background: white;
  padding: 18px;
  text-align: center;
}

.category-box {
  min-width: 120px;
  padding: 15px 10px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

/* Light Mode */
.cat-light {
  background: #ffe4e4;
  color: #000;
}

/* Dark Mode */
.cat-dark {
  background: #1d1d1d;
  color: #fff;
}

.category-box:hover {
  transform: translateY(-5px);
}

.category-wrapper {
  margin-top: 90px;
}

.cat-wrapper-dark {
  background: #121211;
}

/* Sidebar links */
.offcanvas a {
  text-decoration: none !important;
  color: inherit !important;
}

.offcanvas a:hover {
  opacity: 0.8;
}

.offcanvas .d-flex {
  align-items: center;
}

.sidebar-small {
  width: 220px !important;
}

/* For larger screens only (desktop) */
@media (min-width: 992px) {
  .sidebar-small {
    width: 255px !important;
  }
}

/* Desktop Search Bar */
.search-bar {
  max-width: 450px;
  border-radius: 20px;
  padding-left: 40px;
  height: 40px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}

/* Mobile Search Bar */
.mobile-search-wrapper {
  position: relative;
  top: 90px;
  z-index: 100;
}

.mobile-search {
  width: 100%;
  border-radius: 18px;
  border-color: #000;
  padding-left: 40px;
  height: 35px;
  margin-top: 5px;
}

.search-icon-mobile {
  position: absolute;
  left: 12px;
  top: 55%;
  transform: translateY(-50%);
  color: #555;
}

/* SIDEBAR LINK STYLING */
.sidebar-link {
  display: flex;
  gap: 8px;
  padding: 10px 16px;
  font-size: 18px;
  /* background-color: #ffe4e4; */
  border-radius: 8px;
  margin-bottom: 6px;
  color: inherit;
  text-decoration: none;
  transition: background 0.2s ease, padding 0.2s ease;
}

/* Hover effect */
.sidebar-link:hover {
  background: rgba(0, 0, 0, 0.08);
  padding-left: 18px;
}

.sidebar-icon {
  margin-top: 3px;
}

/* Remove the Bootstrap validation exclamation icon */
.form-control.is-invalid {
  background-image: none !important;
  padding-right: 0.75rem !important;
}