/* Product Cards */
.product-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-img {
    width: 100%;
    height: 180px;
    background-color: #f2f2f2;
    border-radius: 10px;
    object-fit: contain;  
    display: block;
}

.product-title {
    margin-top: 10px;
    font-size: 16px;
}

.product-price {
    font-weight: bold;
    color: #ff6b6b;
}
.product-card:hover .product-img {
  transform: scale(1.05);
  object-fit: cover;
}


body.dark-mode .product-card,
.dark-mode .product-card {
    background-color: #333 !important;
    color: white !important;
}